
*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1920px;
    font-family: "Work Sans", serif;
}

.container{
    max-width: 1420px;
    margin: 0 auto;
}

.btn_primary{
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    margin-bottom: 3rem;
}

/* ---- sherd styles ------ */
.display_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_title{
    font-size: 2.8rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
    margin: 0;
}

/* dark 03 */
.dark_3{
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    color: rgba(114, 114, 114, 1);

}



/* ----- navbar related styles ------- */
header{
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 5rem;
}

.navbar{
    padding: 2rem 0rem;
}

.nav_item{
    list-style: none;
    margin-right: 30px;
}

.nav_link{
    text-decoration: none;
}


/* ----- banner related styles ------  */
.banner_info{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.banner_title{
    font-size: 4rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
    padding-bottom: 2rem;
}

.banner_description{
    margin-bottom: 2rem;;
}

.banner img{
    width: 100%;
    
}

/* -------- team and features section -------- */
.features_section{
    align-items: center;
    margin-bottom: 130px;

}

.features_team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features_content{
    max-width: 540px;
    margin-left: 30px;
}

.feature_title{
    margin-bottom: 24px;
    font-size: 2.8rem;
    font-weight: 700;
}

.quick{
    font-weight: 500;
    color: rgb(104, 100, 100);
}

.feature{
    color: rgba(255, 144, 14, 1);
}

.featire_description{
    text-align: left;
    margin-bottom: 32px;
}   


/* ----- start enjoy section ------- */

.enjoy_section{
    margin-bottom: 130px;
    align-items: center;
    gap: 50px;
}

.enjoy_containt{
    width: 50%;
}

.enjoy_containt h2{
    border-left: 3px solid #FF900E;
    padding-left: 21px;

}

.enjoy_containt > p{
    padding-top: 24px;
    padding-bottom: 30px;
}

.enjoy_box{
    display: grid;
    grid-template-columns: repeat(1);
    gap: 20px;
    text-align: left;
    padding: 30px 42px 30px 30px;

}

.enjoy_sub_title{
    font-size: 20px;
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
    margin: 0;

}

.box_containt{
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #dad8d8;
    padding: 30px 42px 30px 30px;
}

.enjoy_veiw img{
    width: 100%;
}

.enjoy_veiw{
    position: relative;
}

.enjoy_btn{
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
    padding: 45px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    position: absolute;
    bottom: -104px;
    left: -50px;
}

.btn_span{
    font-size: 1.5rem;
    font-weight: 500;
}





/* ----- responsive media query -------- */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav_links,
    .features_section,
    .enjoy_section{
        flex-direction: column;
    }

    .banner,
    .features_section,
    .banner_info{
        padding: 0px 20px;
    }

    .container{
        width: 100%;
    }

    .features_section{
        gap: 50px;


    }


    .features_team{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .features_team img{
        width: 100%;
    }

    .enjoy_section{
        padding: 20px;
        text-align: center;
    }

    .enjoy_containt{
        width: 100%;
    }

    .enjoy_btn{
        display: none+564;
    }
        
}
